// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Partials
@import 'partials/sidebar';

html, body {
    height: 100%;
}

.table th,
.table td {
    padding: 0.15rem;
    vertical-align: top;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

h3,
.h3 {
    font-size: 1.75rem;
    display: inline;
    vertical-align: bottom;
    margin: 0;
}

.panel-heading {
    margin: 5px 5px 5px 0px;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 0;
}

